.root
  padding 1u 1u
  +tablet()
    padding 0 4u 2u 4u
  +desktop()
    padding 0 2u 2u 2u

.tag
  &.poison
    background-color #cc33ff
  &.water
    background-color #0066ff
  &.electric
    background-color #F91
  &.fire
    background-color #ff3300
  &.flying
    background-color #a890f0