.tag
  margin-left 1u
  margin-top 2u
  &.first
    margin-left 0
  &.poison
    background-color #cc33ff
  &.water
    background-color #0066ff
  &.electric
    background-color #F91
  &.fire
    background-color #ff3300
  &.flying
    background-color #a890f0